*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;

}

.container{
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.container h1{
    margin: 20px 0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;
    font-family: cambria;
    text-shadow: 3px 3px lightgray;
    
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.card{
    width: 32%;
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.card img{
    width: 100%;
    filter: grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
    height: 100%;
}

.card:hover{
    transform: scale(1.09);
    filter: drop-shadow(0 0 10px #333);
    transition: 0.9s;

}

.card:hover img{
    filter: grayscale(0%);
    transition: 0.9s;
}

.card figcaption{
    position:absolute;
    bottom: 0;
    left: 0;
    padding: 25px;
    width: 100%;
    font-size: 20px;
    font-family: fantasy;
    text-shadow: 3px 3px black;
    color: white;
    opacity: 0;
    border-radius:  0 0 10px 10px ;
    background: linear-gradient(0deg,rgba(0,0,0,0.5)0%,(255,255,255))
    
    
}

.card:hover figcaption{
    opacity: 1;
    transform: scale(1.03);
}

.footer{
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family: cambria;
    text-shadow: 2px 2px lightgray;
    
}